<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" rel="stylesheet" />
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">My Profile</a></li>
          <li><a href="#">All Users</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="new-chitter-form">
        <textarea name="chitter" id="new-chitter"></textarea>
        <button>POST</button>
      </div>

      <div>
          <% chitters.forEach((chitter)=> { %>
                <h3><%= chitter.chitter %></h3>
                <p><%= chitter.username %></p>
                <p><%= chitter.comments.length %> comments </p>
          <% })%>
      </div>

    </main>
  </body>
</html>
